 <!-- Page content-->
<div class="container mt-4">
    <div class="row">
        <div class="col-lg-6"> <!--Column 1 Size -->
            <form class="form new-recipe-form">
            
                <!-- Recipe Name Card-->
                <div class="card mb-3">
                    <div class="card-header">Add a dish to the pic-nic!</div>
                    
                    <div class="card-body">
                        <div class="form-group">
                           
                            <input class="form-input col-12 rounded-pill" type="text" id="recipe-name" name="recipe-name" placeholder="Enter the name of your dish here!" />
                        </div>
                    </div>
                    
                </div>

                <!-- Description Card-->
                <div class="card mb-4">
                    <div class="card-header">Recipe Description</div>
                    <div class="card-body">
                        <div class="form-group">
                            
                            <textarea class="form-input col-12 rounded-pill" id="recipe-desc" name="recipe-desc" placeholder="Provide a description of your dish!">

                            </textarea>
                        </div>
                    </div>
                </div>

                <!-- Allergen Card-->
                <div class="card mb-4">
                    <div class="card-header">Allergens</div>
                    <div class="card-body">
                        <div class='form-group'>
                            <input class="allergenInput" type='checkbox' id='nuts' name='nuts' value='true' />
                            <label class="allergenLabel" for='nuts'> Has Nuts</label><br />
                            <input class="allergenInput" type='checkbox' id='gluten' name='gluten' value='true' />
                            <label class="allergenLabel" for='nuts'> Has Gluten</label><br />
                            <input class="allergenInput" type='checkbox' id='dairy' name='dairy' value='true' />
                            <label class="allergenLabel" for='nuts'> Has Diary</label><br />
                            <input class="allergenInput" type='checkbox' id='eggs' name='eggs' value='true' />
                            <label class="allergenLabel" for='nuts'> Has Eggs</label><br />
                            <input class="allergenInput" type='checkbox' id='shellfish' name='shellfish' value='true' />
                            <label class="allergenLabel"l for='nuts'> Has ShellFish</label><br />
                          </div>
                    </div>
                </div>

                <script
                src='https://upload-widget.cloudinary.com/global/all.js'
                type='text/javascript'
              ></script>

              

            </form>
            <div class="button-container">
            <button id='upload_widget' class='btn btn-success'>Upload an Image of your dish</button>
            <button id='create_recipes' class='btn btn-success'>Create Recipe Post</button>
            </div>
        </div>
                
            

        <!-- Placeholder Image for now, can add content later via partial-->
        
        <div class="col-lg-6"> <!--Column 2 Size-->
            
            <div class="card mb-4">
                <a href="#!"><img class="card-img-top" src="https://dummyimage.com/850x350/dee2e6/6c757d.jpg" alt="..." /></a>
                <div class="card-body">
                    <h2 class="card-title">Welcome, {{name}}</h2> <!-- {{name}} goes here-->
                    <p class="card-text">Fill in the required fields to post your recipe!  </p>
                    {{!-- <a class="btn btn-success" href="#!">Read more →</a> --}}
                </div>
            </div>
        </div>
    </div>

     {{#if recipes.length}}

    <div class="row d-flex justify-content-center pt-sm-5 pt-md-8">
        <div class="col-8">
            <div class="card mb-4">
                <div class="card-header text-center"> 
                    <h4 class="card-title"> {{name}}'s Recipes </h4> 
                    <p class="card-text">Filler Text/ Delete if nothing </p>
                </div>

                {{#each recipes as |recipe|}} 

                <div class="card-body border-bottom" >
                    <div class="row">
                        <div class="col-md-8">
                            <h5><a href="/recipe/{{recipe.id}}"> {{recipe.name}} </a></h5> <!--replace href with /recipe/{{recipe.id}} --> <!-- replace name with {{recipe.name}} -->
                        </div>
                        <div class="col-md-4">
                            <button class="btn btn-sm btn-danger" data-id="{{recipe.name}}"> DELETE RECIPE</button> <!--replace data-id with {{recipe.name}}-->
                        </div>
                    </div>
                </div>

                {{/each}} 

            </div>
        </div>
    </div>
     {{/if}} 
</div>

<script src='./js/profile.js'></script>