<div class="text-center">
  <h2>{{name}}</h2>
  <img src="https://res.cloudinary.com/do7uphpx7/image/upload/v{{ version }}/{{ public_id }}.jpg"> </img>
  <p>{{description}}</p>
  <p>Created by {{user.name}} on {{format_date date_created}}</p>
  <p>
  {{#if has_nuts}}
   Has Nuts <br>
  {{/if}}
  {{#if has_gluten}}
   Has Gluten <br>
  {{/if}}
  {{#if has_eggs}}
   Has Eggs <br>
  {{/if}}
  {{#if has_dairy}}
   Has Dairy <br>
  {{/if}}
  {{#if has_shellfish}}
   Has Shellfish <br>
  {{/if}}
  </p>
</div>
