    <div class="row d-flex justify-content-center pt-sm-5 pt-md-8">
        <div class="col-9">
            <div class="card mb-4 d-flex align-items-center col-12 card-background-color ">
                <div class="card-header-mint text-center col-12"> 
                    <h4 class="card-title jost-text"> {{name}} </h4> 
                    <p class="card-subtitle">Created by {{user.name}} on {{format_date date_created}} </p>
                </div>
                <img class="card-img-top d-flex" src="https://res.cloudinary.com/do7uphpx7/image/upload/v{{ version }}/{{ public_id }}.jpg">
                <div class="card-body anti-border text-center">
                    <p class="description-area">{{description}}</p>
                </div>
                <ul class="list-group col-12 text-center">
                    <li class="list-group-item list-group-item-danger">Users! Please be aware of potential allergens in this dish! Even if something isn't being shown, do your due dilligence to ensure that this food is safe for you to eat, if you choose to recreate it!</li>
                    {{#if has_nuts}}
                    <li class="list-group-item list-group-item-warning"> CONTAINS NUTS </li>
                    {{/if}}
                    {{#if has_gluten}}
                    <li class="list-group-item list-group-item-warning"> CONTAINS GLUTEN </li>
                    {{/if}}
                    {{#if has_eggs}}
                    <li class="list-group-item list-group-item-warning"> CONTAINS EGGS </li>
                    {{/if}}
                    {{#if has_dairy}}
                    <li class="list-group-item list-group-item-warning"> CONTAINS DAIRY </li>
                    {{/if}}
                    {{#if has_shellfish}}
                    <li class="list-group-item list-group-item-warning"> CONTAINS SHELLFISH </li>
                    {{/if}}
                  </ul>
            </div>
        </div>
    </div>
    <!--Comment Post Field --> 
    {{#if logged_in}}
    <div class="row d-flex justify-content-center pt-sm-5 pt-md-8">
        <div class="col-6">
            
            <form class="comment-form d-flex justify-content-center" data-recipe_id="{{id}}">
                <div class="row col-12">
                    <div class='col-12'>
                        <div class="comment-textarea col-12 p-2">
                            <textarea class="col-12" id="comment-content-post" name="comment-body" placeholder="Comment on the recipe!" rows="2"></textarea>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="comment-button-container col-12 p-2">
                            <button id="submit-comment" data-id="{{recipe.id}}" class="button btn essential-buttons" type="submit">Add Your Comment</button>
                        </div>
                    </div>
                </div>
            </form>
            
        </div>
    </div>
    {{/if}}

    <div class="row d-flex justify-content-center pt-sm-5 pt-md-8">
        <div class="col-6"> 
            <div class="card mb-4">
                <div class="text-center"> 
                    <h4 class="card-title card-header-mint jost-text">Comments</h4> 
                </div>

                {{#each comments as |comment|}} 

                <div class="card-body border-bottom card-background-color">
                    <div class="row ">
                        <div class="comment-container">
                            <p class="text-center comment-content-section"> {{comment.comment_content}} </p>
                            <p class="text-center comment-owner"> Posted by {{comment.user.name}}</p> 
                            <p class="text-center small-text date-subtext dark-line ">{{format_date date_created}}</p>
                        </div>
                    </div>
                </div>

                {{/each}} 

            </div>
        </div>
    </div>

    <script src="../js/comments.js"></script>